/* UPLOAD - CSS */

.div-upload {
    background-color: rgb(209, 209, 209);
    color: midnightblue;
    margin: 5rem;
    padding: 3rem;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-bottom: 3rem;
}

input {
    margin: 1rem;
    padding: .3rem;
}

label {
    width: 100%;
    text-align: center;
}

form {
    display: inline-block;
    margin: 0 auto;
}