/* FOOTER - STYLE.CSS */

.footer-contact-text {
    color: midnightblue;
    font-weight: bold;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.footer-contact-link {
    color: midnightblue;
    font-size: 1rem;
}

.footer-contact-link:hover {
    color: wheat;
}


