/* FORM - STYLE.CSS */

input {
    border-radius: .5rem;
    font-size: 1.2rem;
    width: 90%;
}

.btn-submit {
    margin-top: 1rem;
    font-size: 1.1rem;
    border-radius: 1.2rem;
    padding: .8rem 2rem;
    color: midnightblue;
    font-weight: bold;
    border: none;
}

.btn-submit:hover {
    color: wheat;
}